.rosario{
  font-family: 'Rubik';
  font-weight: bolder;
}

.default-button
{
  border: 2px solid #00695c;
  background-color:teal;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
  font-stretch: expanded;
  font-size: 16px;
  -webkit-transition: all 1s cubic-bezier(0.550, 0.240, 0.260, 0.730); 
  -moz-transition: all 1s cubic-bezier(0.550, 0.240, 0.260, 0.730); 
  -o-transition: all 1s cubic-bezier(0.550, 0.240, 0.260, 0.730); 
  transition: all 1s cubic-bezier(0.550, 0.240, 0.260, 0.730); /* custom */
}

.default-button:hover
{
  text-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 0.7;
}

.default-input
{
  border-color: #00695c;
  color:#2bbbad;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-stretch: expanded;
  font-size: 16px;
}

.default-input:invalid
{
  border-color: lightcoral;
  text-align: center;
}

.percentage-size
{
  width: 50%;
}

.hidden 
{ 
  display:none; 
}

.invisible 
{ 
  visibility:hidden;
}

i{
  margin: 0 10px 0 10px;
}

.block
{
  display:block
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  display: inline-block;
  border-radius: 3px;
  margin: 10px;
}

.card-detail{
  padding: 10px;
}

.card-header-text{
  margin: 2px;
  text-align: start;
  font-size: large;
  font-weight: bolder;
}
.card-text{
  margin: 2px;
  text-align: start;
  font-size: small;
}

.error-message{
  color: lightcoral;
  font-size: 1em;
  text-align: center;
  align-self: center;
}


.card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 1s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
